@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300;1,400&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Montserrat', sans-serif;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    margin:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#1c1e63;
    
}

a:hover{
    color:#5e3bee;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 85px;
    background-color: #fff;
    position: sticky;
    top:0;
    height:80px;
}
.nav button{
    background-color:transparent;
    border-color:#1c1e63;
    border-radius:5px;
    padding:12px 16px;
    color:#5e3bee;
    font-weight: 800;
}
.nav button:hover{
    background-color:#5e3bee;
    color:#fff;
}
ul{
    display: flex;
    justify-content: space-between;
    gap:40px;
}
.about span{
    color:#5e3bee
}
.about{
    margin-top:100px;
    background-color:rgb(199, 235, 255);
    border-radius:10px;
}
.about:hover {
    margin-top:100px;
    background-color:rgb(144, 216, 255);
    border-radius:10px;
}
.about h2, .about p{
    margin-left:50px;
    font-weight: 800;
}
.about img{
    float:right;
    border:2px solid #1c1e63;
    margin-right:50px;
    border-radius:20px;
}
.about img:hover {
    float:right;
    border:2px solid #1c1e63;
    margin-right:50px;
    border-radius:20px;
    background-color:#5e3bee;
}
.about{
    min-height:500px;
    min-width:fit-content;
}
.Image img{
    margin-left:50px;
    margin-top:50px;
    border-radius: 10px;
    margin-bottom:50px;
}
.Image2 img{
    margin-left:50px;
    margin-top:50px;
    border-radius: 10px;
    margin-bottom:50px;
}

.Image3 img{
    margin-left:50px;
    margin-top:50px;
    border-radius: 10px;
    margin-bottom:50px;
}
.Image {
    background-color:#d9f0ff;
}
.Image2 {
    background-color:#d9f0ff;
}
.Image3 {
    background-color:#d9f0ff;
}
.Image:hover {
    background-color:rgb(199, 235, 255);
}
.Image2:hover {
    background-color:rgb(199, 235, 255);
}
.Image3:hover {
    background-color:rgb(199, 235, 255);
}
.Person2 {
    background-color:#cae0eb;
}
.Person2:hover {
    background-color:rgb(199, 235, 255);
}
.Feedback{
    background-color:#d9f0ff;
    display:flex;
}
.feedback1 img{
    margin-top:50px;
    margin-bottom:50px;
}
.feedback2 img{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50px;
}
.feedback1 img{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50px;
}
.feedback2 img{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50px;
}
.feedback1 img{
    margin-top:50px;
    margin-bottom:50px;
}